<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fig1</key>
	<array>
		<dict>
			<key>x</key>
			<string>1</string>
			<key>y</key>
			<string>58</string>
		</dict>
		<dict>
			<key>x</key>
			<string>68</string>
			<key>y</key>
			<string>107</string>
		</dict>
		<dict>
			<key>x</key>
			<string>119</string>
			<key>y</key>
			<string>71</string>
		</dict>
		<dict>
			<key>x</key>
			<string>102</string>
			<key>y</key>
			<string>15</string>
		</dict>
		<dict>
			<key>x</key>
			<string>81</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
	<key>fig2</key>
	<array>
		<dict>
			<key>x</key>
			<string>103</string>
			<key>y</key>
			<string>10</string>
		</dict>
		<dict>
			<key>x</key>
			<string>5</string>
			<key>y</key>
			<string>6</string>
		</dict>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>114</string>
		</dict>
		<dict>
			<key>x</key>
			<string>103</string>
			<key>y</key>
			<string>114</string>
		</dict>
	</array>
	<key>fig3</key>
	<array>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>79</string>
		</dict>
		<dict>
			<key>x</key>
			<string>15</string>
			<key>y</key>
			<string>94</string>
		</dict>
		<dict>
			<key>x</key>
			<string>108</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<dict>
			<key>x</key>
			<string>108</string>
			<key>y</key>
			<string>24</string>
		</dict>
		<dict>
			<key>x</key>
			<string>84</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
	<key>fig4</key>
	<array>
		<dict>
			<key>x</key>
			<string>50</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>2</string>
			<key>y</key>
			<string>26</string>
		</dict>
		<dict>
			<key>x</key>
			<string>53</string>
			<key>y</key>
			<string>142</string>
		</dict>
		<dict>
			<key>x</key>
			<string>107</string>
			<key>y</key>
			<string>23</string>
		</dict>
		<dict>
			<key>x</key>
			<string>57</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
	<key>fig5</key>
	<array>
		<dict>
			<key>x</key>
			<string>45</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>5</string>
			<key>y</key>
			<string>30</string>
		</dict>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>66</string>
		</dict>
		<dict>
			<key>x</key>
			<string>30</string>
			<key>y</key>
			<string>106</string>
		</dict>
		<dict>
			<key>x</key>
			<string>67</string>
			<key>y</key>
			<string>111</string>
		</dict>
		<dict>
			<key>x</key>
			<string>107</string>
			<key>y</key>
			<string>79</string>
		</dict>
		<dict>
			<key>x</key>
			<string>111</string>
			<key>y</key>
			<string>45</string>
		</dict>
		<dict>
			<key>x</key>
			<string>67</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
	<key>fig6</key>
	<array>
		<dict>
			<key>x</key>
			<string>46</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>2</string>
			<key>y</key>
			<string>45</string>
		</dict>
		<dict>
			<key>x</key>
			<string>64</string>
			<key>y</key>
			<string>101</string>
		</dict>
		<dict>
			<key>x</key>
			<string>111</string>
			<key>y</key>
			<string>49</string>
		</dict>
		<dict>
			<key>x</key>
			<string>53</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
	<key>fig7</key>
	<array>
		<dict>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>32</string>
			<key>y</key>
			<string>70</string>
		</dict>
		<dict>
			<key>x</key>
			<string>98</string>
			<key>y</key>
			<string>74</string>
		</dict>
		<dict>
			<key>x</key>
			<string>117</string>
			<key>y</key>
			<string>22</string>
		</dict>
		<dict>
			<key>x</key>
			<string>106</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
	<key>fig8</key>
	<array>
		<dict>
			<key>x</key>
			<string>37</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>x</key>
			<string>6</string>
			<key>y</key>
			<string>8</string>
		</dict>
		<dict>
			<key>x</key>
			<string>64</string>
			<key>y</key>
			<string>117</string>
		</dict>
		<dict>
			<key>x</key>
			<string>119</string>
			<key>y</key>
			<string>7</string>
		</dict>
		<dict>
			<key>x</key>
			<string>89</string>
			<key>y</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>